build
dist
*.egg-info
.DS_Store
PE_base_fibers
PR_base_fibers
.ipynb_checkpoints
apolys
apoly_dicts
hints
saved_hints
__pycache__
plots
slurm*
*.pyc
*.pdf
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
